#content {
    width: 100%;
    margin: 0 auto;
    padding: 30px;
}

.card-body {
    padding: 0;
}

.card-body-padding {
    padding: 15px;
}

.card-title {
    text-align: center;
    padding: 15px;
}

.card-text {
    padding: 10px 20px;
}