.container {
    height: 100%;
    width: 100%;
    padding: 50px 0;
    margin: 0 auto;
}

.card {
    padding: 0 7%;
}

.view-height {
    height: 89vh;
}

.title {
    text-align: center;
    margin-bottom: 2%;
}

.chat-column {
    display: flex;
    flex-direction: column;
}

.about-menu-icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease-in-out;
    margin: -15px;
}

.about-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 77vh;
}

.center-content {
    display: flex;
    justify-content: center;
}

.bold-text {
    font-weight: bold;
}

.chat-title {
    background-color: rgb(73 211 168);
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-title h2 {
    margin-bottom: 0;
}

.messages-container {
    overflow: auto;
    background-color: #FFF;
    height: 60vh;
    overflow-y: scroll;
    padding: 0 1% 5px 1%;
}

.message-box {
    margin: 10px 175px 10px 10px;
    padding: 10px;
    background-color: #EEE;
    border-radius: 15px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.message-content {
    display: flex;
    gap: 15px
}

.message-actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.loading {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.input-container {
    background-color: rgb(73 211 168);
}

.input-content {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    align-items: center;
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.send-message-button {
    display: flex;
    align-items: center;
    height: 45px;
}

.buttons-area {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.hide-icon {
    height: 45px;
    width: 45px;
}

@media screen and (max-width: 990px) {

    .about-menu-icon {
        display: none;
    }

    .input-container {
        margin-bottom: 25px;
    }

    .about-body {
        height: auto;
    }

    .buttons-area {
        flex-direction: row;
        justify-content: center;
    }

    .buttons-area a {
        max-width: 200px;
    }
}

@media screen and (max-width: 540px) {
    .message-box {
        margin: 10px !important;
        font-size: 14px;
    }

    .chat-title h2 {
        font-size: 20px;
    }
}