#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5574ff;
    padding: 15px 25px;
}

#header-area {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

#logo {
    width: 60px;
    height: 60px;
}

#header-title-area {
    display: flex;
    flex-direction: column;
}

#title,
#subtitle {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

#header-btn-area {
    display: flex;
    gap: 25px;
}